<footer class="footer">
    <img class="footer-logo" src="../../assets/icons/logo.svg" alt="logo" />
  <div class="footer-social-media">
    <a class="footer-link" href="https://www.facebook.com/liara.2.0/">
      <img class="footer-icon" src="../../assets/icons/facebook.svg" alt="Facebook" />
      @Liara Programadora
    </a>
    <a class="footer-link" href="https://www.linkedin.com/in/liara-programadora/">
      <img class="footer-icon" src="../../assets/icons/linkedin.svg" alt="Linkedin" />
      @Liara Duarte
    </a>
    <a class="footer-link" href="https://www.youtube.com/c/LiaraProgramadora">
      <img class="footer-icon" src="../../assets/icons/youtube.svg" alt="Youtube" />
      @Liara Programadora
    </a>
  </div>
  <p class="footer-attention">
    Atenção: Este site não hospeda nenhum vídeo. Seu desenvolvimento é somente para estudo.
  </p>
</footer>
