@import '../variables.scss';

.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: 400;
  height: 45px;
  padding-bottom: 10px;

  &-social-media {
    display: flex;
    align-items: center;
  }

  &-link {
    font-size: 12px;
    margin-right: 5px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &-icon {
    width: 25px;
    margin-right: 5px;
  }

  &-attention {
    font-size: 6px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
  }

  @media (min-width: $sm) {
    height: 70px;

    &-link {
      font-size: 18px;
      margin-right: 15px;
    }

    &-icon {
      margin-right: 10px;
    }

    &-attention {
      font-size: 12px;
      margin: 15px 0;
    }
  }
}
