<footer class="footer">
  <div class="footer-social-media">
    <a class="footer-link" href="https://www.facebook.com/liara.2.0/">
      <img class="footer-icon" src="../../assets/icons/facebook.svg" alt="Facebook" />
    </a>
    <a class="footer-link" href="https://www.linkedin.com/in/liara-programadora/">
      <img class="footer-icon" src="../../assets/icons/linkedin.svg" alt="Linkedin" />
    </a>
    <a class="footer-link" href="https://www.youtube.com/c/LiaraProgramadora">
      <img class="footer-icon" src="../../assets/icons/youtube.svg" alt="Youtube" />
    </a>
  </div>
  <p class="footer-attention">
    Atenção: Este site não hospeda nenhum vídeo.
    <span>Seu desenvolvimento é somente para estudo.</span>
  </p>
</footer>