<div 
  class="card" 
  [ngStyle]="{
    width: Card.width + 'px',
    height: Card.height + 'px'    
  }"
>
  <app-button
    class="card-subtitle"
    *ngIf="Card.subtitle"
    [Button]="{ value: Card.subtitle }"
  ></app-button>
  <img
    class="card-image"
    src="{{ Card.cover }}"
    alt="Capa do anime {{ Card.title }}"
  />
  <div class="card-info">
    <p class="card-title">
      {{ Card.title }}
      <span class="card-episode" *ngIf="!Card.movie && this.Card.episode">
        - {{ this.Card.episode }}
      </span>
    </p>
  </div>
</div>
