* {
  width: 100vw;
  overflow-x: hidden;
}

.animes-online {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-footer {
  display: flex;
  align-self: flex-end;
}

app-line {
  margin-top: 20px;
}
