@import '../variables.scss';

.list {
  height: 100%;
  
  &-cards {    
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }

  @media (min-width: $sm) {
    &-cards{
      grid-template-columns: repeat(4, 200px);
      gap: 30px;
    }
  }

  @media (min-width: $md) and (max-width: $lg){
    &-cards{
      grid-template-columns: repeat(3, 200px);
      gap: 30px;
    }
  }
}
