@import "../variables.scss";

.nav-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  width: 100%;
  height: 3.75rem;
  background-color: rgb(35, 37, 43);

  &-logo {
    height: 100%;
    content: url("../../assets/icons/logo.svg");
    padding: 1rem;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-home {
    display: flex;
    align-items: center;
  }

  &-link {
    font-size: 1rem;
    margin-right: 0.5rem;
    letter-spacing: 0.05rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover:not(.logo) {
      background-color: rgb(20, 21, 25);
      color: rgb(255, 255, 255);
    }
  }

  @media (min-width: $sm) {
    &-logo {
      margin-left: 5rem;
      content: url("../../assets/icons/animes.logo.svg");
    }

    &-link {
      font-size: 1.3rem;
      padding: 1rem;
      letter-spacing: 0.05em;
      margin-right: 0;
      cursor: pointer;

      &:hover:not(.logo) {
        background-color: rgb(20, 21, 25);
        color: rgb(255, 255, 255);
      }
    }

    &-home {
      left: 10%;
    }
  }
}
