@import "../variables.scss";

.filled {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $white;
  background: $primary;

  @media (min-width: $sm) {
    width: 115px;
    height: 35px;
    font-size: 18px;
  }
}
