@import "../variables.scss";

.unfilled,
.filled {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $white;
  background: $primary;

  &.unfilled {
    background-color: transparent;
    border: solid 2px $primary;
  }

  @media (min-width: $sm) {
    width: 115px;
    height: 35px;
    font-size: 18px;
  }
}
