@import url("https://fonts.googleapis.com/css2?family=Aubrey&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: #070707;
  font-family: "Roboto", sans-serif;
  color: #fcfcfc;

  a {
    text-decoration: none;
    color: inherit;
  }

  p,
  div {
    margin: 0;
    padding: 0;
  }
}
