@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: #181c23;
  font-family: 'Lato', sans-serif;
  color: #fcfcfc;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  p,
  div {
    margin: 0;
    padding: 0;
  }
}
