@import '../variables.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  .section-title {
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 4px solid #dd0000;
    width: 100%;    
  }

  .highlight {
    &-cards {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 10px;
      justify-items: center;

      & app-card {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  .released {    
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-cards {
      display: inline-grid;
      grid-template-columns: repeat(1, 320px);
      grid-template-rows: repeat(1, auto);
      grid-gap: 20px;
    }
  }

  @media (min-width: $sm) {
    .highlight {
      width: 100%;
      &-cards {
        grid-template-columns: repeat(7, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 15px;
        justify-content: center;
    

        & app-card:nth-child(1) {
          grid-column: span 3;
          grid-row: span 2;
        }

        & app-card {
          grid-column: span 2;
          grid-row: span 1;
        }
      }
    }

    .released {
      margin-top: 50px;
      width: 100%;
      &-cards {
        grid-template-columns: repeat(3, 350px);
        grid-gap: 25px;
      }
    }
  }

  @media (max-width: $lg ) and (min-width: $sm) {    
    .released {
      &-cards {
        grid-template-columns: repeat(2, 350px);        
      }
    }
  }
}