@import "../variables.scss";

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100vw;

  &-main {
    margin: 0 20px;
    height: 100%;
  }

  &-title {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
  }

  &-label {
    color: #949494;
    font-weight: 500;
    font-size: 20px;
  }

  &-sinopse {
    font-size: 18px;
  }

  &-category {
    margin-bottom: 20px;
  }

  &-aside-image {
    margin-top: 10px;
  }

  &-image {
    width: 300px;
    height: 405px;
  }

  @media (min-width: $sm) {
    max-width: 1155px;
    height: 430px;
    flex-direction: row;

    &-title {
      text-align: left;
    }
  }
}
