<app-line></app-line>
<div class="details">
  <aside class="details-aside-image">
    <img
      class="details-image"
      src={{this.data.image}}
      alt=""
    />
  </aside>
  <div class="details-main">
    <h1 class="details-title">
      {{this.data.title}}
    </h1>
    <div class="details-category">
      <span class="details-label">Gênero:</span>
      {{this.data.category}}
    </div>
    <p class="details-sinopse">
      <span class="details-label">Sinópse:</span>
      {{this.data.sinopse}}
    </p>
  </div>
</div>
